<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="__PUBLIC__/Home/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/guanlicenter_zcsy.css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/myFont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/sweetalert.css">
    <link href="__PUBLIC__/Home/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/Home//css/paging.css" />

    <script src="__PUBLIC__/Home/jquery.min.js"></script>
    <script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/My97DatePicker/WdatePicker.js"></script>
    <script src="__PUBLIC__/Home/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/zepto.js?2"></script>
    <style type="text/css">
        .diy_select_btn span {
            font-size: 0px;
            color: #787878;
            width: 18px;
            height: 20px;
            display: inline-block;
            border-left: solid 1px #d7d7d7;
            text-align: center;
            vertical-align: top;
            line-height: 20px;
            background: url("__PUBLIC__/Home/images/down.png") no-repeat center center
        }
    </style>
    <script type="text/javascript">
       var sortType;
       function unix_to_date(unix) {
          var now = new Date(parseInt(unix) * 1000);
          Y = now.getFullYear() + '-';
          M = (now.getMonth()+1 < 10 ? '0'+(now.getMonth()+1) : now.getMonth()+1) + '-';
          D = now.getDate();
          date = Y+M+D;
          return date;
       }

       function get_unix_time(dateStr){
          var newstr = dateStr.replace(/-/g,'/'); 
          var date =  new Date(newstr); 
          var time_str = date.getTime().toString();
          return time_str.substr(0, 10);
       }

       function queryloglist(){
          $.get("{:U('Log/operalogdata')}",{},function(data){
            //将json数据转化为数组
            var operalog = eval('(' +data+ ')');
            var sortType = sessionStorage['sortType'];
            function sortByTime(operalog){
              if(sortType == "timeU"){ 
                for(var i=0;i<operalog.length;i++){
                  for(var j=i;j<operalog.length;j++){
                    if(operalog[i]["time"]>operalog[j]["time"]){
                       var temp = operalog[i];
                       operalog[i] = operalog[j];
                       operalog[j] = temp;
                    }
                  }           
                }     
              }else{
                for(var i=0;i<operalog.length;i++){
                  for(var j=i;j<operalog.length;j++){
                    if(operalog[i]["time"]<operalog[j]["time"]){
                       var temp = operalog[i];
                       operalog[i] = operalog[j];
                       operalog[j] = temp;
                    }
                  }           
                }
              }
              return operalog;
            }
            for(var o in sortByTime(operalog)){
              var curpage = <?php echo $curpage = empty($_GET['page']) ? 1 : $_GET['page'];?>;
              if(o>=(curpage-1)*10&&o<curpage*10){
                  $("#mobileTab tbody").append("<tr>"
                                    +"<td>"+operalog[o]["oprera_id"]+"</td>"
                                    +"<td>"+operalog[o]["time"]+"</td>"
                                    +"<td>"+operalog[o]["username"]+"</td>"
                                    +"<td>"+operalog[o]["oprera_name"]+"</td>"                           
                                    +"</tr>");  
              }
            }
          });
       }

       function sortByTime(){
          var sortType = sessionStorage['sortType'];
          if(sortType != "timeU" && sortType != "timeD"){
            sessionStorage.setItem('sortType','timeU');
          }else{
            if(sortType == "timeU"){
              sessionStorage.setItem('sortType','timeD');
            }else{
              sessionStorage.setItem('sortType','timeU');
            }
          }
          $("#mobileTab tbody tr").remove();
          $.get("{:U('Log/operalogdata')}",{},function(data){
            //将json数据转化为数组
            var operalog = eval('(' +data+ ')');
            var sortType = sessionStorage['sortType'];
            function sortByTime(operalog){
              if(sortType == "timeU"){
                for(var i=0;i<operalog.length;i++){
                  for(var j=i;j<operalog.length;j++){
                    if(operalog[i]["time"]>operalog[j]["time"]){
                       var temp = operalog[i];
                       operalog[i] = operalog[j];
                       operalog[j] = temp;
                    }
                  }           
                }     
              }else{
                for(var i=0;i<operalog.length;i++){
                  for(var j=i;j<operalog.length;j++){
                    if(operalog[i]["time"]<operalog[j]["time"]){
                       var temp = operalog[i];
                       operalog[i] = operalog[j];
                       operalog[j] = temp;
                    }
                  }           
                }
              }
              return operalog;
            }  
            for(var o in sortByTime(operalog)){
              var curpage = <?php echo $curpage = empty($_GET['page']) ? 1 : $_GET['page'];?>;
              if(o>=(curpage-1)*10&&o<curpage*10){
                  $("#mobileTab tbody").append("<tr>"
                                    +"<td>"+operalog[o]["oprera_id"]+"</td>"
                                    +"<td>"+operalog[o]["time"]+"</td>"
                                    +"<td>"+operalog[o]["username"]+"</td>"
                                    +"<td>"+operalog[o]["oprera_name"]+"</td>"                           
                                    +"</tr>");  
              }
            }
          });
       }

       function search(){
          var down_date_start = $("#down_date_start").val();
          var down_date_end = $("#down_date_end").val();
          var diy_select_txt = $(".diy_select_txt").val();
          var diy_select_code = $("#searchVideo").val();

          $.post("{:U('Log/operalogSearch')}",
            {down_date_start:down_date_start,down_date_end:down_date_end,diy_select_txt:diy_select_txt,diy_select_code:diy_select_code},function(data){
              //将json数据转化为数组
              var operalog = eval('(' +data+ ')');
              $("#mobileTab thead tr").remove();
              $("#mobileTab thead").append("<tr>"
                                      +"<th>序号</th>"
                                      +"<th>操作日期</th>"
                                      +"<th>操作用户</th>"
                                      +"<th>操作信息</th>"                           
                                      +"</tr>");
              $("#mobileTab tbody tr").remove();
              $("#showPage").remove();
              for(var o in operalog){
                  $("#mobileTab tbody").append("<tr>"
                                    +"<td>"+operalog[o]["oprera_id"]+"</td>"
                                    +"<td>"+operalog[o]["time"]+"</td>"
                                    +"<td>"+operalog[o]["username"]+"</td>"
                                    +"<td>"+operalog[o]["oprera_name"]+"</td>"                           
                                    +"</tr>");  
              }
          });
       }
       function clearSearch(){
          location.reload();
       }
       $(window).load(queryloglist());
    </script> 
</head>

<body>
  <div class="container main-container">
    <h3 style="float:left;margin-left:-19px;">系统操作日志</h3>
    <div class="row">
      <br>
    </div> 
    <legend style="margin-left:-19px;"></legend>

    <div class="clearfix searchspin" align="center">
              <dl>
                <dd>
                    <form>
                      <div style="float:left;margin-left:-36px;" >
                        日期查询
                  <input type="text" id="down_date_start" onfocus="WdatePicker()" name="down_date_start" size="10" value="" placeholder="开始日期" /> 至
                  <input type="text" id="down_date_end" onfocus="WdatePicker()" name="down_date_end" size="10" value="" placeholder="结束日期"/>&nbsp;&nbsp; &nbsp;
                      &nbsp; 
                      </div>

                      <div style="float:left"> 
                        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;操作类型 &nbsp;  
                      </div>
                        
                        <div class="diy_select mr5" style="float:left"> 
                            
                            <input type="hidden" name="film_type" value="" class="diy_select_input" id="payee">
                            <input type="text" value="" placeholder="请选择影片类型" class="diy_select_txt" readonly="readonly"> 
                            <div class="diy_select_btn">
                                <span></span>
                            </div> &nbsp;&nbsp; 
                            <ul class="diy_select_list" style="display: none;margin-top:6px;">
                                <li data-value="5" style="width:115px;margin-left:-40px;">创建列表</li>
                                <li data-value="16" style="width:115px;margin-left:-40px;">下发列表</li>
                                <li data-value="13" style="width:115px;margin-left:-40px;">删除列表</li>
                                <li data-value="15" style="width:115px;margin-left:-40px;">修改列表</li>
                                <li data-value="19" style="width:115px;margin-left:-40px;">创建设备</li>
                                <li data-value="20" style="width:115px;margin-left:-40px;">修改设备</li>
                                <li data-value="20" style="width:115px;margin-left:-40px;">删除设备</li>
                                <li data-value="20" style="width:115px;margin-left:-40px;">创建组别</li>
                                <li data-value="20" style="width:115px;margin-left:-40px;">删除组别</li>
                              </ul>
                       </div>
                        <div style="float:left;margin-left:3px;" >                                              
                          <input id="searchVideo" name="video_name" size="12" type="text" placeholder="请输入关键词"  value="" > &nbsp;&nbsp;                          
                        </div>
                        
                        <div style="float:left"> 
                          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;  
                        </div>

                        <div style="float:left"><input type="button" class="sblue-btn" onclick="search()" value="搜索" />
                        &nbsp;&nbsp;<input type="button" class="sblue-btn" onclick="clearSearch()" value="清空" /></div>
                    </form>
                </dd>
            </dl>
        </div>
    
      <div class="row" >
        <div  class="col-lg-10" align="right" class="logo" ><h4><a href="#" id="loginButton"><span></span></a></h4></div> 
      </div> 

      <div class="row">
        <br>
      </div> 

      <div class="row">
        <legend>日志列表</legend>

        <table id="mobileTab" class="table table-hover table-striped table-bordered">       
          <thead>
            <tr>
              <th>序号</th>
              <th><a href="javascript:;" style="text-decoration: none;" onclick="sortByTime()">操作日期
                &#8593&#8595</a></th>
              <th>操作用户</th>
              <th>操作信息</th>
            </tr>
          </thead>

          <tbody>
          <!--   动态添加表格项   -->
          </tbody>
        </table>

        <!-- paging分页 -->
  <div class="showPage"  align="center"  id="showPage" style="display:block;margin-top:-20px;">
    <?php
      require_once('page.class.php'); //分页类
      require_once('getTotal.php');
      $showrow = 10; //一页显示的行数 
      $curpage = empty($_GET['page']) ? 1 : $_GET['page']; //当前的页,还应该处理非数字的情况 
      $url = "?page={page}"; //分页地址，如果有检索条件 ="?page={page}&q=".$_GET['q'] 
      $getTotal = new getTotal();
      $total = $getTotal->getServerTotal();
      if($total > $showrow){
        $page = new page($total, $showrow, $curpage, $url, 2); 
        echo $page->myde_write("movie_list");
      }
    ?>
  </div> 
         <!-- paging-->
      </div>
      <br>

      <div class="row" align="center">
          <br>
          <br>
      </div>
      <div class="row" align="center">
        <div class="col-lg-4 col-sm-4 col-md-4"></div>     
        <div class="col-lg-4 col-sm-4 col-md-4"></div>
      </div>

</body>

<script type="text/javascript" src="__PUBLIC__/Home/js/select.js"></script>
<script type="text/javascript">
  $(".diy_select_list").click(function (event) {
      var val = +$(".diy_select_input").val();
      changefType(val);
  });
  function changefType(val)
  {
      if (val == 1) {
          $("#hidden_1").css("display", "block");
          $("#hidden_2").css("display", "none");
      }
      else {
          $("#hidden_1").css("display", "none");
          $("#hidden_2").css("display", "block");
      }
  } 
</script>
</html>